.wrapper {
	min-height: 100vh;
	position: relative;
	padding-bottom: 50px; /*Megegyezik a lábléc magasságával, és eltolja a tartalmat abban az esetben, ha megérintenék.*/
}
.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 50px;
}

body {
	background: #cfcfcf;
}

.content {
  background: #ae001d;
  height: 200px;
}

.footer {
  background: #193a6a;
}
.content,
.footer {
  padding: 10px;
  color: rgba(255,255,255, .9);
  font-family: monospace;
  font-size: 1.125rem;
}